{% extends 'base.html' %}
{% load i18n %}
{% block extra_css %}
{% if '/ar/' in request.path %}
<style>
	.arabic{
		float: right !important;
	}

</style>
{% endif %}
<style>
	.name{
		font-size: 30px;
	}
	.designation{
		font-size: 20px;
	}
	<!--.border{-->
		<!--border: 1px solid #f44438;-->
		<!--margin: 10px 10px 10px 10px;-->
		<!--width: 31% !important;-->
	<!--}-->
</style>
{% endblock %}
{% block content %}
<body class="res layout-1">
    
    <div id="wrapper" class="wrapper-fluid banners-effect-5">
    

    <!-- Header Container  -->
    {% include 'header.html' %}
    <!-- //Header Container  -->
    
	<!-- Main Container  -->
	<div class="main-container container height-class">

		
		<div class="row">
			<div id="content" class="col-sm-12">
				<div class="about-us about-demo-4">
					<div class="row">

						<div class="col-lg-6 col-md-12 about-us-content">
							<h2 class="" style="font-size:40px" align="center"><strong>{% trans "Vision" %}</strong></h2>
							<div class="content-about"
								 style="font-size:20px; {% if '/ar/' in request.path %} direction: rtl;{% endif %}">

								{% if '/ar/' in request.path %}
								{{about.vision_ar|safe}}
								{% else %}
								{{about.vision_en|safe}}
								{% endif %}
							</div>
						</div>

						<div class="col-lg-6 col-md-12 about-us-content">
							<h2 class="" style="font-size:40px" align="center"><strong>{% trans "Mission" %}</strong></h2>
							<div class="content-about"
								 style="font-size:20px; {% if '/ar/' in request.path %} direction: rtl;{% endif %}">

								{% if '/ar/' in request.path %}
								{{about.mission_ar|safe}}
								{% else %}
								{{about.mission_en|safe}}
								{% endif %}
								</div>
						</div>

					</div>
					<div class="row">
						<div class="col-lg-4 border" align="center">
						{% if about.image1 %}
							<img src="{{about.image1.url}}" width="70%" height="70%" style="margin-top:30px; margin-bottom: 30px">
						{% endif %}
							<br>
							{% if about.name1 %}
							{% if '/en/' in request.path %}
							<span class="name">{{about.name1}}</span>
							<br>
							<span class="designation">{{about.designation1}}</span>
							{% elif about.name1_ar %}
							<span class="name">{{about.name1_ar}}</span>
							<br>
							<span class="designation">{{about.designation1_ar}}</span>
							{% endif %}
							{% endif %}
						</div>
						<div class="col-lg-4 border" align="center">
						{% if about.image2 %}
							<img src="{{about.image2.url}}" width="70%" height="70%" style="margin-top:30px; margin-bottom: 30px">
						{% endif %}
							<br>
							{% if about.name2 %}
							{% if '/en/' in request.path %}
							<span class="name">{{about.name2}}</span>
							<br>
							<span class="designation">{{about.designation2}}</span>
							{% elif about.name2_ar %}
							<span class="name">{{about.name2_ar}}</span>
							<br>
							<span class="designation">{{about.designation2_ar}}</span>
							{% endif %}
							{% endif %}
						</div>
						<div class="col-lg-4 border" align="center">
						{% if about.image3 %}
							<img src="{{about.image3.url}}" width="70%" height="70%" style="margin-top:30px; margin-bottom: 30px">
						{% endif %}
							<br>
							{% if about.name3 %}
							{% if '/en/' in request.path %}
							<span class="name">{{about.name3}}</span>
							<br>
							<span class="designation">{{about.designation3}}</span>
							{% elif about.name3_ar %}
							<span class="name">{{about.name3_ar}}</span>
							<br>
							<span class="designation">{{about.designation3_ar}}</span>
							{% endif %}
							{% endif %}
						</div>
					</div>
					<div class="row" align="center">
						<div class="col-lg-4 border" align="center">
						{% if about.image4 %}
							<img src="{{about.image4.url}}" width="70%" height="70%" style="margin-top:30px; margin-bottom: 30px">
						{% endif %}
							<br>
							{% if about.name4 %}
							{% if '/en/' in request.path %}
							<span class="name">{{about.name4}}</span>
							<br>
							<span class="designation">{{about.designation4}}</span>
							{% elif about.name4_ar %}
							<span class="name">{{about.name4_ar}}</span>
							<br>
							<span class="designation">{{about.designation4_ar}}</span>
							{% endif %}
							{% endif %}
						</div>
						<div class="col-lg-4 border" align="center">
						{% if about.image5 %}
							<img src="{{about.image5.url}}" width="70%" height="70%" style="margin-top:30px; margin-bottom: 30px">
						{% endif %}
							<br>
							{% if about.name5 %}
							{% if '/en/' in request.path %}
							<span class="name">{{about.name5}}</span>
							<br>
							<span class="designation">{{about.designation5}}</span>
							{% elif about.name5_ar %}
							<span class="name">{{about.name5_ar}}</span>
							<br>
							<span class="designation">{{about.designation5_ar}}</span>
							{% endif %}
							{% endif %}
						</div>
						<div class="col-lg-4 border" align="center">
						{% if about.image6 %}
							<img src="{{about.image6.url}}" width="70%" height="70%" style="margin-top: 30px; margin-bottom: 30px">
						{% endif %}
							<br>
							{% if about.name6 %}
							{% if '/en/' in request.path %}
							<span class="name">{{about.name6}}</span>
							<br>
							<span class="designation">{{about.designation6}}</span>
							{% elif about.name6_ar %}
							<span class="name">{{about.name6_ar}}</span>
							<br>
							<span class="designation">{{about.designation6_ar}}</span>
							{% endif %}
							{% endif %}
						</div>
						<div class="col-lg-4 border" align="center">
						{% if about.image7 %}
							<img src="{{about.image7.url}}" width="70%" height="70%" style="margin-top: 30px; margin-bottom: 30px">
						{% endif %}
							<br>
							{% if about.name7 %}
							{% if '/en/' in request.path %}
							<span class="name">{{about.name7}}</span>
							<br>
							<span class="designation">{{about.designation7}}</span>
							{% elif about.name6_ar %}
							<span class="name">{{about.name7_ar}}</span>
							<br>
							<span class="designation">{{about.designation7_ar}}</span>
							{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	</div>
	<!-- //Main Container -->
	

	<!-- Footer Container -->
    {% endblock %}