{% extends 'base.html' %}
{% load i18n %}
{% block extra_css %}
{% if '/ar/' in request.path %}
<style>
	.arabic{
		float: right !important;
	}

</style>
{% endif %}
<style>
	.name{
		font-size: 30px;
	}
	.designation{
		font-size: 20px;
	}
	<!--.border{-->
		<!--border: 1px solid #f44438;-->
		<!--margin: 10px 10px 10px 10px;-->
		<!--width: 31% !important;-->
	<!--}-->
</style>
{% endblock %}
{% block content %}
<body class="res layout-1">

    <div id="wrapper" class="wrapper-fluid banners-effect-5">

    {% include 'header.html' %}
	<!-- Main Container  -->
	<div class="main-container container">


		<div class="row">
			<div id="content" class="col-sm-12">

				<div class="about-us about-demo-2">
					<div class="row">
						<div class="col-lg-12 col-md-12 about-us-center">

							<div class="content-description">
                                 <div class="row">

						<div class="col-lg-6 col-md-12 about-us-content">
							<h2 class="" style="font-size:30px" align="center"><strong>{% trans "Vision" %}</strong></h2>
							<div class="content-about"
								 style="font-size:15px; {% if '/ar/' in request.path %} direction: rtl;{% endif %}">

								{% if '/ar/' in request.path %}
								{{about.vision_ar|safe}}
								{% else %}
								{{about.vision_en|safe}}
								{% endif %}
							</div>
						</div>

						<div class="col-lg-6 col-md-12 about-us-content">
							<h2 class="" style="font-size:30px" align="center"><strong>{% trans "Mission" %}</strong></h2>
							<div class="content-about"
								 style="font-size:15px; {% if '/ar/' in request.path %} direction: rtl;{% endif %}">

								{% if '/ar/' in request.path %}
								{{about.mission_ar|safe}}
								{% else %}
								{{about.mission_en|safe}}
								{% endif %}
								</div>
						</div>

					</div>
                                <br>
                                <br>
																<h3 class="about-title" style="font-size:35px;">{% trans 'Our Team' %}</h3>
<br>
                                <div class="col-lg-6 col-md-12 about-us-content">
                                    <div class="member">
													<div class="member-image">
                                                        {% if about.image5 %}
                                                        <img src="{{about.image5.url}}" width="400" height="400" alt="Image Client">
                                                        {% endif %}
                                                    </div>
													<div class="member-info">
														<h3 class="name-member">

							{% if '/en/' in request.path %}{{about.name5}}{% else %}{{about.name5_ar}}{% endif %}
                                                        </h3>
														<p class="job-member">{% if '/en/' in request.path %}{{about.designation5}}{% else %}{{about.designation5_ar}}{% endif %}</p>
													</div>
												</div>
                                </div>
                                <div class="col-lg-6 col-md-12 about-us-content">
                                    <div class="member">
													<div class="member-image">
                                                        {% if about.image6 %}
                                                        <img src="{{about.image6.url}}" width="400" height="400" alt="Image Client">
                                                        {% endif %}
                                                    </div>
													<div class="member-info">
														<h3 class="name-member">

							{% if '/en/' in request.path %}{{about.name6}}{% else %}{{about.name6_ar}}{% endif %}
                                                        </h3>
														<p class="job-member">{% if '/en/' in request.path %}{{about.designation6}}{% else %}{{about.designation6_ar}}{% endif %}</p>
													</div>
												</div>
                                </div>

								</div>
						</div>
					</div>
                    <br>
                    <br>


					<div class="slider-brands col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="yt-content-slider contentslider" data-autoplay="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column00="3" data-items_column0="3" data-items_column1="3" data-items_column2="3" data-items_column3="3" data-items_column4="1" data-arrows="yes"
                            data-pagination="no" data-lazyload="yes" data-loop="yes">
                        <div class="item">
												<div class="member">
													<div class="member-image">
                                                        {% if about.image1 %}
                                                        <img src="{{about.image1.url}}" width="300" height="300"  alt="Image Client">
                                                        {% endif %}
                                                    </div>
													<div class="member-info">
														<h3 class="name-member">

							{% if '/en/' in request.path %}{{about.name1}}{% else %}{{about.name1_ar}}{% endif %}
                                                        </h3>
														<p class="job-member">{% if '/en/' in request.path %}{{about.designation1}}{% else %}{{about.designation1_ar}}{% endif %}</p>
													</div>
												</div>
											</div>
						<div class="item">
												<div class="member">
													<div class="member-image">
                                                        {% if about.image2 %}
                                                        <img src="{{about.image2.url}}" width="300" height="300"  alt="Image Client">
                                                        {% endif %}
                                                    </div>
													<div class="member-info">
														<h3 class="name-member">

							{% if '/en/' in request.path %}{{about.name2}}{% else %}{{about.name2_ar}}{% endif %}
                                                        </h3>
														<p class="job-member">{% if '/en/' in request.path %}{{about.designation2}}{% else %}{{about.designation2_ar}}{% endif %}</p>
													</div>
												</div>
											</div>
						<div class="item">
												<div class="member">
													<div class="member-image">
                                                        {% if about.image3 %}
                                                        <img src="{{about.image3.url}}" width="300" height="300"  alt="Image Client">
                                                        {% endif %}
                                                    </div>
													<div class="member-info">
														<h3 class="name-member">

							{% if '/en/' in request.path %}{{about.name3}}{% else %}{{about.name3_ar}}{% endif %}
                                                        </h3>
														<p class="job-member">
                                                            {% if '/en/' in request.path %}
                                                            {{about.designation3}}{% else %}
                                                            {{about.designation3_ar}}{% endif %}</p>
													</div>
												</div>
											</div>
						<div class="item">
												<div class="member">
													<div class="member-image">
                                                        {% if about.image4 %}
                                                        <img src="{{about.image4.url}}" width="300" height="300"  alt="Image Client">
                                                        {% endif %}
                                                    </div>
													<div class="member-info">
														<h3 class="name-member">

							{% if '/en/' in request.path %}{{about.name4}}{% else %}{{about.name4_ar}}{% endif %}
                                                        </h3>
														<p class="job-member">{% if '/en/' in request.path %}
                                                            {{about.designation4}}{% else %}
                                                            {{about.designation4_ar}}{% endif %}</p>
													</div>
												</div>

											</div>
						<div class="item">
						<div class="member">
													<div class="member-image">
                                                        {% if about.image7 %}
                                                        <img src="{{about.image7.url}}" width="300" height="300"  alt="Image Client">
                                                        {% endif %}
                                                    </div>
													<div class="member-info">
														<h3 class="name-member">

							{% if '/en/' in request.path %}{{about.name7}}{% else %}{{about.name7_ar}}{% endif %}
                                                        </h3>
														<p class="job-member">{% if '/en/' in request.path %}
                                                            {{about.designation7}}{% else %}
                                                            {{about.designation7_ar}}{% endif %}</p>
													</div>
												</div>
						</div>
                    </div>
                </div>
				</div>

			</div>
		</div>
	</div>
	<!-- //Main Container -->


	<!-- Footer Container -->

    <!-- //end Footer Container -->

    </div>
{% endblock %}