{% extends 'base.html' %}
{% load i18n %}
{% block extra_css %}
<style>
    .slider-brands .item{
        opacity: 1;
    }
</style>
{% endblock %}
{% block content %}
<body class="common-home res layout-1">
    
    <div id="wrapper" class="wrapper-fluid banners-effect-3">
    

    <!-- Header Container  -->
    {% include 'header.html' %}
    <!-- //Header Container  -->
    
   
<!-- Main Container  -->
<div class="main-container container">
    <div id="content">
        <div class="content-top-w">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="slider-container row"> 

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col2">
                        <div class="module sohomepage-slider ">
                            <div class="yt-content-slider"  data-rtl="yes" data-autoplay="yes" data-autoheight="no" data-delay="2" data-speed="0.6" data-margin="0" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1"  data-items_column3="1" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                {% for banner in banners %}
                                <div class="yt-content-slide">
                                    <a href="{% url 'product' %}?category={{banner.category.category_name_en}}">{% if banner.banner_image %}<img src="{{banner.banner_image.url}}" alt="{{banner.image_title}}" class="img-responsive ">{% endif %}</a>
                                </div>
                                {% endfor %}
                            </div>
                            
                            <div class="loadeding"></div>
                        </div>
                        
                    </div>

                    
                </div>

            </div>                                        
        </div>
        <div class="row content-main-w">
            
            <div class="col-lg-12 col-md-9 col-sm-8 col-xs-12 main-right">
                

                <!--<div class="static-cates">-->
                    <!--<ul>-->
                        <!--{% for image in first_row %}-->
                        <!--<li>-->
                            <!--<a href="{% url 'product' %}?category={{image.category.category_name_en}}">{% if image.image %}<img style="" src="{{image.image.url}}" alt="{{image.image_title}}">{% endif %}</a>-->
                        <!--</li>-->
                        <!--{% endfor %}-->
                    <!--</ul>-->
                <!--</div>-->


                <!-- Slider Brands -->
                <div class="slider-brands col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="yt-content-slider contentslider" data-autoplay="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column00="5" data-items_column0="5" data-items_column1="5" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes"
                            data-pagination="no" data-lazyload="yes" data-loop="yes">
                        {% for bottom in first_row %}
                        <div class="item">
                            <a href="{% url 'product' %}?category={{bottom.category.category_name_en}}">
                                {% if bottom.image %}
                                <img src="{{bottom.image.url}}" alt="{{bottom.image_title}}">
                                {% endif %}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Slider Brands -->


                <div class="banners4 banners">
                    <div class="row">
                        {% for image in two_images %}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <a href="{% url 'product' %}?category={{image.category.category_name_en}}">{% if image.image %}<img src="{{image.image.url}}" alt="{{image.image_title}}">{% endif %}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- end Banners -->

                <!-- Listing tabs -->
                <div class="module listingtab-layout1">
                    
                    <div id="so_listing_tabs_1" class="so-listing-tabs first-load">
                        <div class="loadeding"></div>
                        <div class="ltabs-wrap">
                            <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="" data-type_source="0" data-lg="5" data-md="3" data-sm="2" data-xs="1" data-margin="30">
                                <!--Begin Tabs-->
                                <div class="ltabs-tabs-wrap">
                                    <div class="item-sub-cat">
                                        <ul class="ltabs-tabs cf">
                                            <li class="ltabs-tab tab-sel" data-category-id="20" data-active-content=".items-category-20"> <span class="ltabs-tab-label">{% trans 'Trending' %}</span> </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Tabs-->
                            </div>
                        
                            <div class="ltabs-items-container products-list grid">
                                <!--Begin Items-->
                                <div class="ltabs-items ltabs-items-selected items-category-20" data-total="16">
                                    <div class="ltabs-items-inner ltabs-slider">
                                        {% for product in trending %}
                                        <div class="item">         
                                            <div class="item-inner product-layout transition product-grid">
                                                <div class="product-item-container">
                                                    <div class="left-block left-b">
                                                        
                                                        <div class="product-image-container second_img">
                                                            <a href="{% url 'product' %}?category={{product.category.category_name_en}}" target="_self" title="Ullamco occaeca">
                                                                {% for image in product.images.all %}
                                                                {% if forloop.counter < 3%}
                                                                {% if image.image %}
                                                                <img src="{{ image.image.url }}" class="
                                                                {% if forloop.counter == 1 %}
                                                                img-1
                                                                {% else %}
                                                                img-2
                                                                {% endif %}
                                                                img-responsive" alt="image1">
                                                                {% endif %}
                                                                {% endif %}
                                                                {% endfor %}
                                                            </a>
                                                        </div>
                                                        <!--quickview--> 

                                                        <!--end quickview-->

                                                        
                                                    </div>
                                                    <div class="right-block">

                                                        <div class="caption hide-cont">

                                                            <h4><a>
                                                                {% if '/en/' in request.path %}
                                                            {{product.product_name_en}}
                                                            {% else %}
                                                            {{product.product_name_ar}}
                                                            {% endif %}
                                                            </a>
                                                            </h4>

                                                        </div>
                                                        <p class="price">
                                                          <span class="price-new">
                                                              {% if '/en/' in request.path and not riyal %}
                                                              {% if product.offer_price %}<strike>{% endif %}{{product.price_dollar}} QAR{% if product.offer_price %}</strike>{% endif %}
                                                            {% else %}
                                                            {{product.price_other}} $
                                                            {% endif %}
                                                          </span>
                                                            {% if product.offer_price %}
                                                            <br>
                                                            <span class="price-new">Offer Price {{product.offer_price}} QAR</span>
                                                            {% endif %}
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        {% endfor %}
                                    </div>
                                    
                                </div>
                                <div class="ltabs-items items-category-18 grid" data-total="16">
                                    <div class="ltabs-loading"></div>
                                    
                                </div>
                                <div class="ltabs-items  items-category-25 grid" data-total="16">
                                    <div class="ltabs-loading"></div>
                                </div>
                                <!--End Items-->
                            </div>
                            
                        </div>   
                    </div>
                </div>
                <!-- end Listing tabs -->
                
                <!-- Slider Brands -->
                <div class="slider-brands col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="yt-content-slider contentslider" data-autoplay="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column00="7" data-items_column0="7" data-items_column1="5" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes"
                            data-pagination="no" data-lazyload="yes" data-loop="yes">
                        {% for bottom in bottoms %}
                        <div class="item">
                            <a href="{% url 'product' %}?category={{bottom.category.category_name_en}}">
                                {% if bottom.image %}
                                <img src="{{bottom.image.url}}" alt="{{bottom.image_title}}">
                                {% endif %}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div> 
                <!-- Slider Brands -->


            </div>
            
        </div>

    </div>
</div>
<!-- //Main Container -->
   
   {% endblock %}
{% block extra_js %}

        {% endblock %}
    <!-- Footer Container -->
<

<!-- End Color Scheme
============================================ -->



<!-- Include Libs & Plugins
============================================ -->





