{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<body class="res layout-1 listing-page">
    
    <div id="wrapper" class="wrapper-fluid banners-effect-5">
    

    <!-- Header Container  -->
    {% include 'header.html' %}
    <!-- //Header Container  -->
    <div class="col-lg-12"></div>
	<!-- Main Container  -->
	<div class="main-container container">

		<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 product-banner">
                {% if banner.image %}
                <img src="{{banner.image.url}}" width="100%" />
                {% endif %}
            </div>
			<!--Left Part Start -->
			<aside class="col-sm-4 col-md-3 content-aside" id="column-left">
				<div class="module category-style">
                	<h3 class="modtitle">{% trans 'Categories' %}</h3>
                	<div class="modcontent">
                		<div class="box-category">
                			<ul id="cat_accordion" class="list-group">
                                <li class="hadchild"><a href="{% url 'product' %}?category=all" class="cutom-parent">{% trans "ALL" %}</a>
                                {% for category in categories %}
                				<li class="hadchild">
                                <a href="{% url 'product' %}?category={{category.category_name_en}}" class="cutom-parent">
                                {% if '/ar/' in request.path %}
                                {% trans category.category_name_ar %}
                                {% else %}
                                {% trans category.category_name_en %}
                                {% endif %}</a>
                                {% if category.sub_category.all|length >= 1 %}
                                <span class="button-view  fa fa-plus-square-o"></span>
                                <ul style="display: block;">
                                    {% for sub_category in category.sub_category.all %}
                						<li>
                                            <a href="{% url 'product' %}?sub_category={{sub_category.sub_category_name_en}}" class="cutom-parent">
                                {% if '/ar/' in request.path %}
                                {% trans sub_category.sub_category_name_ar %}
                                {% else %}
                                {% trans sub_category.sub_category_name_en %}
                                {% endif %}</a></li>
                                    {% endfor %}
                					</ul>
                                {% endif %}
                                {% endfor %}
                				</li>
                			</ul>
                		</div>


                	</div>
                </div>
            </aside>
            <!--Left Part End -->
			
        	<!--Middle Part Start-->
        	<div id="content" class="col-md-9 col-sm-8">
        		<div class="products-category">
        			<!-- Filters -->
                    <div class="product-filter product-filter-top filters-panel">
                        <div class="row">
                            <div class="col-md-5 col-sm-3 col-xs-12 view-mode">



                            </div>
                        </div>
                    </div>
                    <!-- //end Filters -->

        			<!--changed listings-->
                    <div class="products-list row nopadding-xs so-filter-gird">
                        {% for product in all_products %}
            	
        				<div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                            <div class="product-item-container">
                                <div class="left-block left-b">
                                    
                                    <div class="product-image-container second_img">
                                        <a>
                                            {% for image in product.images.all %}
                                            {% if forloop.counter < 3%}
                                            {% if image.image %}
                                            <img src="{{ image.image.url }}" class="
                                                      {% if forloop.counter == 1 %}
                                                      img-1
                                                      {% else %}
                                                      img-2
                                                      {% endif %}
                                                      img-responsive" alt="image1" width="150" height="150px">
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                        </a>
                                    </div>
                                    <!--quickview--> 
                                    <div class="so-quickview">
                                      <a class="btn-button quickview quickview_handler" data-toggle="modal" data-target="#myModal{{product.id}}"><i class="fa fa-eye"></i><span>Quick view</span></a>
                                    </div>                                                     
                                    <!--end quickview-->

                                </div>
                                <div class="right-block">

                                    <div class="caption hide-cont">

                                        <h4><a>
                                            {% if '/en/' in request.path %}
                                            {{product.product_name_en}}
                                            {% else %}
                                            {{product.product_name_ar}}
                                            {% endif %}
                                        </a></h4>

                                    </div>
                                    <p class="price">
                                      <span class="price-new">
                                          {% if '/en/' in request.path and not riyal %}
                                          {% if product.offer_price %}<strike>{% endif %}{{product.price_dollar}}QAR{% if product.offer_price %}</strike>{% endif %}
                                          {% else %}
                                          {{product.price_other}}
                                          {% endif %}
                                      </span>
                                        {% if product.offer_price %}
                                                            <br>
                                                            <span class="price-new">Offer Price <br>{{product.offer_price}} QAR</span>
                                                            {% endif %}
                                    </p>
                                </div>

                            </div>
                            <div class="container">
                                    <div class="modal fade" id="myModal{{product.id}}" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">{% if '/ar/' in request.path %}{{ product.product_name_ar }}{% else %}{{ product.product_name_en }}{% endif %}</h4>
                                        </div>
                                        <div class="modal-body">
                                              {% for image in product.images.all %}
                                              {% if forloop.first %}
                                            {% if image.image %}
                                              <img id="image{{product.id}}" src="{{image.image.url}}"/>
                                              {% endif %}
                                              {% endif %}
                                              {% endfor %}
                                        </div>
                                        <div class="modal-footer">

                                            <div class="col-lg-12 col-md-12">
                                                {% for image in product.images.all %}
                                            <div class="col-lg-4 col-md-4">
                                                {% if image.image %}
                                            <img src="{{image.image.url}}" id="clicked{{image.id}}" onclick="changeImage({{product.id}}, {{image.id}})" width="150" height="150"/>
                                            {% endif %}
                                            </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                    </div>
                        </div>

                        {% endfor %}

                    </div>
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      {% if not request.GET.category %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li><a href="?page={{ page_obj.previous_page_number }}&category={{request.GET.category}}">&laquo;</a></li>
      {% endif %}
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
          {% if not request.GET.category %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% else %}
            <li><a href="?page={{ i }}&category={{request.GET.category}}">{{ i }}</a></li>
          {% endif %}
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      {% if not request.GET.category %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
            <li><a href="?page={{ page_obj.next_page_number }}&category={{request.GET.category}}">&raquo;</a></li>
          {% endif %}
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
        		</div>
        		
        	</div>
        	

        	<!--Middle Part End-->
        </div>
    </div>
	{% endblock %}