{% extends 'base.html' %}
{% load i18n %}
{% block extra_css %}
<style>
	.error{
		color: red;
		{% if not request.user_agent.is_mobile %}
		float: right !important;
		{% endif %}
	}
</style>
{% endblock %}
{% block content %}

<body class="res layout-1">
    
    <div id="wrapper" class="wrapper-fluid banners-effect-5">
    

    <!-- Header Container  -->
        {% include 'header.html' %}
    <!-- //Header Container  -->
    
	<!-- Main Container  -->
	<div class="main-container container">

		
		<div class="row">
			<div id="content" class="col-sm-12">
				<div class="page-title">
					<h2>Contact Us</h2>
				</div>
				
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.8346235923054!2d51.42960816414347!3d25.266415682148907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45d9875ab9b95f%3A0xff77f925646ba611!2sFamily+Shopping+Complex!5e0!3m2!1sen!2sin!4v1549772786706" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
				<div class="info-contact clearfix">
					<div class="col-lg-4 col-sm-4 col-xs-12 info-store">
						<div class="row">
							<div class="name-store">
								<h3>Your Store</h3>
							</div>
							<address>
								<div class="address clearfix form-group">
									<div class="icon">
										<i class="fa fa-home"></i>
									</div>
									<div class="text">{% trans "The United Exporters" %}, {% trans "Furoosiya Street" %}, {% trans "Fareej al murra" %},
										{% trans "Doha" %}, {% trans "Qatar" %}</div>
								</div>
								<div class="phone form-group">
									<div class="icon">
										<i class="fa fa-phone"></i>
									</div>
									<div class="text">{% trans "Phone" %} : 44422798, 44422708, 77442798</div>
								</div>
								
							</address>
						</div>
					</div>
					<div class="col-lg-8 col-sm-8 col-xs-12 contact-form">
						<form id="contactform" method="post" class="form-horizontal">
							{% csrf_token %}
							<fieldset>
								<legend>{% trans "Contact Form" %}</legend>
								<div class="form-group required">
							<label class="col-sm-2 control-label" for="id_name">{% trans "Your Name" %}</label>
							<div class="col-sm-10">
								<input type="text" name="name" value="" id="id_name" class="form-control">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="id_email">{% trans "E-Mail Address" %}</label>
								<div class="col-sm-10">
									<input type="text" name="email" value="" id="id_email" class="form-control">
									</div>
								</div>
								<div class="form-group required">
									<label class="col-sm-2 control-label" for="id_message">{% trans "Enquiry" %}</label>
									<div class="col-sm-10">
										<textarea name="message" rows="10" id="id_message" class="form-control"></textarea>
									</div>
								</div>
							</fieldset>
							<div class="buttons">
								<div class="pull-right">
									<button class="btn btn-default buttonGray" id="btn-submit" type="submit">
										<span>{% trans "Send Enquiry" %}</span>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Main Container -->



	<!-- Footer Container -->
    {% endblock %}
		{% block extra_js %}
				<script>
var count = 0;
$('#btn-submit').click(function() {
	<!--document.getElementById("success-message").innerHTML = "";-->
	var data = $('#contactform').serialize();
	var url = "{% url 'contact' %}"
	$('.error').html("");
    $('#successful').html("");
    document.getElementById("btn-submit").innerHTML = "Sending...";
	$.ajax({
		type: 'POST',
		url: url,
		data: data,
		cache : false,
		processData: false,

		success: function (response) {
			if (response.status == 'success') {
				$('.error').remove();
				document.getElementById("btn-submit").innerHTML = "{% trans 'SEND' %}";
				document.getElementById("success-message").innerHTML = "Message Sent Successfully";
				$('#contactform')[0].reset();
			}
			else if (response.result.status == 'form_error') {
				document.getElementById("btn-submit").innerHTML = "{% trans 'Send Enquiry' %}";
				if (count >= 1) {
					$('.error').remove();
				}
				$("#contactform :input:not(input[type='hidden'],input[type='submit'])").each(function () {
					var current = $(this).parent();
					var current_name = $(this).attr('name');
					$.each(response.result.errors, function (index, value) {
						if (current_name == index) {
							current.after("<div class='col-sm-10 error'></div></div>");
							current.next().html(value);
							count++;
						}
					});
				});
			}
		},
		error: function(error){}
	});
	return false;
});
</script>
		{% endblock %}