{% load i18n %}
<header id="header" class=" typeheader-1">

        <!-- Header Top -->
        <div class="header-top hidden-compact">
            <div class="container">
                <div class="row">
                    <div class="header-top-left col-lg-7 col-md-8 col-sm-6 col-xs-4">

                    </div>
                    <div class="header-top-right collapsed-block col-lg-5 col-md-4 col-sm-6 col-xs-8">
                        <ul class="top-link list-inline lang-curr">
                            <!--<li class="language">-->
                                    <!--<form action="{% if 'products' in request.path %}{% url 'product' %}{% else %}{% url 'home' %}{% endif %}" style="display: inline-flex;" method="get">-->

                                        <!--<select name="currency">-->
                                            <!--<option {% if riyal %}selected{% endif %}>Qatar Riyal</option>-->
                                            <!--<option {% if not riyal %}selected {% endif %}>Dollar</option>-->
                                        <!--</select>-->
                                        <!--<input type="hidden" name="category" value="{{request.GET.category}}">-->
                                        <!--<input type="submit" value="Go" />-->
                                    <!--</form>-->
                            <!--</li>-->
                            <li class="language">
                                <form action="{% url 'set_language' %}" style="display: inline-flex;" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>


                            </li>
                        </ul>



                    </div>
                </div>
            </div>
        </div>
        <!-- //Header Top -->

        <!-- Header center -->
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="navbar-logo col-lg-2 col-md-3 col-sm-4 col-xs-10">
                        <div class="logo"><a href="/"><img src="/static/image/logo.png" style="{% if request.user_agent.is_mobile %}margin-top: 0px;{% else %}margin-top: 7px;{% endif %}" width="100%" height="70" title="Your Store" alt="Your Store" /></a></div>
                    </div>
                    <!-- //end Logo -->

                    <div class=" col-lg-10 col-sm-8 col-md-9 col-xs-2">
                        <div class="responsive so-megamenu megamenu-style-dev">
                            <nav class="navbar-default">
                                <div class=" container-megamenu  horizontal open ">
                                    <div class="navbar-header">
                                        <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <div class="megamenu-wrapper">
                                        <span id="remove-megamenu" class="fa fa-times"></span>
                                        <div class="">
                                            <div class="container-mega">
                                                <ul class="megamenu" data-transition="slide" data-animationtime="250">
                                                    <li class="home " style="padding: 20px;">
                                                        <a href="{% url 'home' %}">{% trans "Home" %} </a>
                                                    </li>
                                                    <li class="home " style="padding: 20px;">
                                                        <a href="{% url 'product' %}">{% trans "Our Store" %}</a>
                                                    </li>
                                                    <li class="home " style="padding: 20px;">
                                                        <a href="{% url 'about' %}">{% trans "About" %}</a>
                                                    </li>
                                                    <li class="home " style="padding: 20px;">
                                                        <a href="{% url 'contact' %}">{% trans "Contact" %}</a>
                                                    </li>
                                                    <li class="home " style="padding: 13px;float:right">
                                                        <a href="{{links.facebook}}" target="_blank"><i class="fa fa-facebook fa-2x"></i> </a>
                                                    </li>
                                                    <li class="home " style="padding: 13px;float:right">
                                                        <a href="{{links.instagram}}" target="_blank"><i class="fa fa-instagram fa-2x"></i> </a>
                                                    </li>
                                                    <li class="home " style="padding: 13px;float:right">
                                                        <a href="{{links.twitter}}" target="_blank"><i class="fa fa-twitter fa-2x"></i> </a>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>



                </div>

            </div>
        </div>
        <!-- //Header center -->

        <!-- Header Bottom -->
        <div class="header-bottom hidden-compact">
            <div class="container">
                <div class="row">







                </div>
            </div>

        </div>
    </header>